h2
{
    color: blue;
    font-weight: bold;
}
#tituloform
{
    font-style: italic
}

.esverdeado
{
    background-color: lightgreen
}
body
{
    background-image: url("../imagens/fundo.png");
}
.botoes {
    display:inline;
    text-align: center;
    float: right;}
